@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");

:root {
  --primary-color: #fcd34d;
  font-family: "Architects Daughter", cursive;
  display: block;
}
body {
  margin: 0;
}
div {
  padding: 1rem;
  align-content: center;
}
nav {
  background-color: var(--primary-color);
  text-align: center;
}

.view {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

textarea {
  width: 80%;
  height: 10vh;
  margin: 1rem;
  padding: 0.5rem;
}
#outputTxt {
  width: 80%;
  height: 20px;
  padding: 0.5rem;
  border: 2px solid black;
}
#btnTranslate {
  background-color: var(--primary-color);
  font-family: "Architects Daughter", cursive;
  border: none;
  border-radius: 3%;
  font-size: large;
  margin: 1rem;
  padding: 1rem;
  width: 215px;
}
footer {
  width: 100%;
  text-align: center;
  background-color: var(--primary-color);
  position: absolute;
  bottom: 0%;
}
